/*navigation*/
#logotop{
    padding-left:70px;
    background-color:#C4E2FF;
    height:60px;
    padding-right:680px;
}
#nav{
    width: 1700px;
    height:60px;
    background-color: #C4E2FF;
    position:fixed;
    z-index:10;
    margin-top:0;
    left:50%;
    margin-left:-850px;
}
*{
    padding:0;
    margin:0;
    position:relative;
}
li{
    float:left;
}
.navli{
    list-style-type:none;
    width: 160px;
    height:60px;
    line-height: 60px;
    background: #C4E2FF;
    font-family:"微软雅黑 Light";
    color:#415468;
    font-weight: bold;
    align: center;
    text-align: center;
    border-left:2px solid #DAEDFF;
}
.navli:hover{
    background-color: #DAEDFF;
    color:#28313A;
}
#login{padding-left:10px;width:80px;}
#register{border:none;width:80px;}
#username{padding-left:10px;width:80px;}
#logout{border:none;width:80px;}
#login:hover{background-color: #C4E2FF; font-weight: bold;}
#register:hover{background-color: #C4E2FF; font-weight: bold;}
#logout:hover{background-color: #C4E2FF; font-weight: bold;}
#username:hover{background-color:#C4E2FF}
/*end of navigation*/


#FormContainer{
    width:1700px;
    min-height:1700px;
    display:block;
    margin:auto;
    padding-top:80px;
}
#FormOutline{
    width:1000px;
    min-height:1600px;
    margin-left:350px;
    margin-top:50px;
    border:2px solid #99c2ed;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 2px #99c2ed;
    background-color:#fafcff;
}
.inputTitle{
    font-size:20px;
    margin-left:250px;
    margin-top:35px;
    margin-bottom:5px;
}
.inputText{
    width:495px;
    height:35px;
    border:2px solid #99c2ed;
    border-radius: 5px;
    padding-left:5px;
    margin-left:250px;
    font-size:18px;
}
select{
    width:500px;
    height:45px;
    font-size:18px;
    padding:5px;
    border-radius: 5px;
    border: 2px solid #99c2ed;
    margin-left:250px;
}
.date-picker {
	padding: 8px;
	font-size: 18px;
	border: 1px solid #99c2ed;
	border-radius: 5px;
    box-shadow:3px 3px 0px 0px #99c2ed;
	width: 220px;
	margin-left:5px;
	margin-right:5px;
}
#uploadImg{
    display:none;
}
#custom_upload{
    width:170px;
    height:35px;
    font-size:18px;
    text-align:center;
    padding-top:10px;
    cursor:pointer;
    border: 1px solid #99c2ed;
	border-radius: 5px;
    box-shadow:3px 3px 0px 0px #99c2ed;
    margin-left:250px;
    margin-top:35px;
}
#custom_upload:hover{
    background-color: #daedff;
}
#image-preview-container{
    margin-left:230px;
    width:600px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap:15px;
    margin-top:10px;
}
.image-preview img {
    border-radius: 5px;
}
.image-preview button {
    width:25px;
    height:25px;
    border: 1px solid #99c2ed;
    font-size: 12px;
    cursor: pointer;
    border-radius: 15px;
    background-color:#fafcff;
    margin-top:-25px;
    margin-left:-25px;
}
.image-preview button:hover {
    background-color: #daedff;
}

#submit{
    background-color: #C4E2FF;
    width:500px;
    height:45px;
    margin-left:250px;
    font-size:18px;
    margin-top:35px;
    border-radius: 5px;
    border: 1px solid #99c2ed;
    box-shadow:3px 3px 0px 0px #99c2ed;
}

/*底部*/
#indexbottom{
    width:1700px;
    height:180px;
    margin-top:170px;
    background-color:#C4E2FF;
    left:50%;
    margin-left:-850px;
    color:#415468;
}