/*navigation*/
#logotop{
    padding-left:70px;
    background-color:#C4E2FF;
    height:60px;
    padding-right:680px;
}
#nav{
    width: 1700px;
    height:60px;
    background-color: #C4E2FF;
    position:fixed;
    z-index:10;
    margin-top:0;
    left:50%;
    margin-left:-850px;
}
*{
    padding:0;
    margin:0;
    position:relative;
}
li{
    float:left;
}
.navli{
    list-style-type:none;
    width: 160px;
    height:60px;
    line-height: 60px;
    background: #C4E2FF;
    font-family:"微软雅黑 Light";
    color:#415468;
    font-weight: bold;
    align: center;
    text-align: center;
    border-left:2px solid #DAEDFF;
}
.navli:hover{
    background-color: #DAEDFF;
    color:#28313A;
}
#login{padding-left:10px;width:80px;}
#register{border:none;width:80px;}
#username{padding-left:10px;width:80px;}
#logout{border:none;width:80px;}
#login:hover{background-color: #C4E2FF; font-weight: bold;}
#register:hover{background-color: #C4E2FF; font-weight: bold;}
#logout:hover{background-color: #C4E2FF; font-weight: bold;}
#username:hover{background-color:#C4E2FF}
/*end of navigation*/


/*Classification*/
#EditClub{
    width:1700px;
    height:500px;
    display: block;
    margin: auto;
    padding-top: 140px;
	padding-left: 80px;
    /* border:1px solid; */
}

#ClubInfoTable{
    margin-top:-580px;
    margin-left:1100px;
    width:500px;
    height:700px;
}
table{
    width: 500px;
    height: 130px;
}
.input{
    width:230px;
    height:25px;
    border:1px solid #99c2ed;
    padding:3px;
}

#FormContainer{
    width:1700px;
    height:1000px;
    display:block;
    margin:auto;
    padding-top:80px;
}
#FormOutline{
    width:1000px;
    height:1000px;
    margin-left:350px;
    margin-top:50px;
    border:2px solid #99c2ed;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 2px #99c2ed;
    background-color:#fafcff;
}
.inputTitle{
    font-size:20px;
    margin-left:250px;
    margin-top:35px;
    margin-bottom:5px;
}
.inputText{
    width:495px;
    height:35px;
    border:2px solid #99c2ed;
    border-radius: 5px;
    padding-left:5px;
    margin-left:250px;
    font-size:18px;
}
select{
    width:500px;
    height:45px;
    font-size:18px;
    padding:5px;
    border-radius: 5px;
    border: 2px solid #99c2ed;
    margin-left:250px;
}
.date-picker {
	padding: 8px;
	font-size: 18px;
	border: 1px solid #99c2ed;
	border-radius: 5px;
    box-shadow:3px 3px 0px 0px #99c2ed;
	width: 220px;
	margin-left:5px;
	margin-right:5px;
}
#uploadImg{
    display:none;
}
#custom_upload{
    width:170px;
    height:35px;
    font-size:18px;
    text-align:center;
    padding-top:10px;
    cursor:pointer;
    border: 1px solid #99c2ed;
	border-radius: 5px;
    box-shadow:3px 3px 0px 0px #99c2ed;
    margin-left:250px;
    margin-top:35px;
}
#custom_upload:hover{
    background-color: #daedff;
}

/* 定义输入框的基本样式 */
textarea {
    height: 600px; /* 设置固定高度 */
    padding: 10px; /* 内边距 */
    border: 2px solid #ccc; /* 边框 */
    border-radius: 5px; /* 圆角 */
    font-size: 16px; /* 字体大小 */
    line-height: 1.5; /* 行间距 */
    resize: vertical; /* 允许用户调整文本框的高度 */
    word-wrap: break-word; /* 自动换行 */
}

/* 鼠标悬停时改变边框颜色 */
textarea:hover {
    border-color: #5b9bd5;
}

#description{
    height: 250px;
    width: 480px;
}

#FormOutline{
    width:1000px;
    height:780px;
    margin-left:350px;
    margin-top:20px;
    border:2px solid #99c2ed;
    border-radius: 5px;
    box-shadow: 2px 2px 1px 2px #99c2ed;
    background-color:#fafcff;
}

.inputTitle{
    font-size:20px;
    margin-left:250px;
    margin-top:35px;
    margin-bottom:5px;
}

.inputText{
    width:495px;
    height:35px;
    border:2px solid #99c2ed;
    border-radius: 5px;
    padding-left:5px;
    margin-left:250px;
    font-size:18px;
    font-family:Ariel;
}

#description{
    height: 250px;
}

#submit-btn,#back{
    background-color: #C4E2FF;
    width:500px;
    height:45px;
    margin-left:250px;
    font-size:18px;
    margin-top:35px;
    border-radius: 5px;
    border: 1px solid #99c2ed;
    box-shadow:3px 3px 0px 0px #99c2ed;
}

#announcement{
    height: 400px;
}

/*底部*/
#indexbottom{
    width:1700px;
    height:180px;
    margin-top:170px;
    background-color:#C4E2FF;
    left:50%;
    margin-left:-850px;
    color:#415468;
}