/*navigation*/
#logotop{
    padding-left:70px;
    background-color:#C4E2FF;
    height:60px;
    padding-right:680px;
}
#nav{
    width: 1700px;
    height:60px;
    background-color: #C4E2FF;
    position:fixed;
    z-index:10;
    margin-top:0;
    left:50%;
    margin-left:-850px;
}
*{
    padding:0;
    margin:0;
    position:relative;

}
li{
    float:left;
}
.navli{
    list-style-type:none;
    width: 160px;
    height:60px;
    line-height: 60px;
    background: #C4E2FF;
    font-family:"微软雅黑 Light";
    color:#415468;
    font-weight: bold;
    align: center;
    text-align: center;
    border-left:2px solid #DAEDFF;
}
.navli:hover{
    background-color: #DAEDFF;
    color:#28313A;
}
#login{padding-left:10px;width:80px;}
#register{border:none;width:80px;}
#username{padding-left:10px;width:80px;}
#logout{border:none;width:80px;}
#login:hover{background-color: #C4E2FF; font-weight: bold;}
#register:hover{background-color: #C4E2FF; font-weight: bold;}
#logout:hover{background-color: #C4E2FF; font-weight: bold;}
#username:hover{background-color:#C4E2FF}
/*end of navigation*/



/*Information*/
#InformationContainer{
    width:1700px;
    height:500px;
    display: block;
    margin:auto;
    padding-top:150px;
}
#LeftContainer{
    width:800px;
    height:580px;
    margin-left:150px;
    border-radius: 5px;
    border: 1px solid #99c2ed;
    box-shadow:3px 3px 20px 5px #99c2ed;
}
.avatar{
    width:100px;
    height:100px;
}
#profileCard{
    width:400px;
    height:570px;
    margin-top:-570px;
    margin-left:400px;
    text-align:center;
}
#largeAvatar{
    width:300px;
    height:300px;
    margin-top:60px;
}
#InformationTable{
    margin-top:-580px;
    margin-left:1100px;
    width:500px;
    height:700px;
}
table{
    width: 500px;
    height: 130px;
}
.input{
    width:230px;
    height:25px;
    border:1px solid #99c2ed;
    padding:3px;
}
#submit{
    background-color: #C4E2FF;
    width:300px;
    height:45px;
    margin-left:100px;
    font-size:18px;
    border-radius: 5px;
    border: 1px solid #99c2ed;
    box-shadow:3px 3px 0px 0px #99c2ed;
    margin-top:25px;
}

/*bottom*/
#indexbottom{
    width:1700px;
    height:130px;
    margin-top:-1500px;
    background-color:#C4E2FF;
    left:50%;
    margin-left:-850px;
    color:#415468;
}