<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity Lobby</title>
	<link rel="stylesheet" href="../static/css/ActivityLobby.css">
</head>
<body>
<!--Navigation-->
<div id="nav">
    <ul style="list-style: none">
        <li><div id="logotop"><a href="/"><img src="../static/img/logo.png" width="100" height="100"></a></div></li>
        <a href="ClubLobby"><li class="navli">Club Lobby</li></a>
        <a href="MyClub"><li class="navli">My Club</li></a>
        <a href="ActivityLobby"><li class="navli">Activity Lobby</li></a>
        <a href="MyActivity"><li class="navli">My Activity</li></a>
        {% if username %}
            <a href="MyProfile"><li class="navli" id="username">{{ username }}</li></a>
            <form action="/Logout" method="post" id="logoutForm" style="display: none;">
                <button type="submit" style="display: none;">Logout</button></form>
            <a href="Logout" onclick="confirmLogout(event)"><li class="navli" id="logout">Logout</li></a>
        {% else %}
            <a href="Login"><li class="navli" id="login">Login</li></a>
            <a href="Register"><li class="navli" id="register">Register</li></a>
        {% endif %}
    </ul>
</div>

<!--Classification-->
<div id="ClassificationContainer">
	<form id="filter-form" method="post">
	<table align="center" style="width: 1200px;border-collapse:separate; border-spacing:0px 15px;">
		<tr>
			<td align="left" width="200px"><p style="font-size:18px;font-weight: 600;">Activity Type :</p></td>
			<td>
				 {% for tp in ["Cultural Events", "Social Events", "Career Development", "Study Trips",
				"Academic Activities", "Interest Groups", "Sports", "Volunteer Work"] %}
                <button type="button"
                        class="type-btn {{ 'selected' if tp == type else '' }}"
                        value="{{ tp }}"
                        onclick="toggleSelection(this, 'type')">
                    {{ tp }}
                </button>
                {% endfor %}
			</td>
		</tr>
		<tr>
			<td align="left"><p style="font-size:18px;font-weight: 600;">Activity Status :</p></td>
			<td>
				{% for sts in ["Upcoming", "Ongoing", "Completed"] %}
                <button type="button"
                        class="status-btn {{ 'selected' if sts == status else '' }}"
                        value="{{ sts }}"
                        onclick="toggleSelection(this, 'status')">
                    {{ sts }}
                </button>
                {% endfor %}
			</td>
		</tr>
		<tr>
			<td align="left"><p style="font-size:18px;font-weight: 600;">SignUp Time :</p></td>
			<td>
				<input type="date" id="signup_start" name="signup_start" class="date-picker" value="{{ signup_start if signup_start else '' }}" >
				<span>&nbsp; to &nbsp; </span>
				<input type="date" id="signup_end" name="signup_end" class="date-picker" value="{{ signup_end if signup_end else '' }}">
			</td>
		</tr>
		<tr>
			<td align="left"><p style="font-size:18px;font-weight: 600;">Activity Time :</p></td>
			<td>
				<input type="date" id="start_time" class="date-picker" value="{{ start_time or '' }}">
				<span>&nbsp; to &nbsp; </span>
				<input type="date" id="end_time"  name="end_time" class="date-picker" value="{{ end_time or '' }}">
				<button type="submit" id="show-btn" name="action" value="apply" >apply</button>
				<button type="submit" id="clear-btn" name="action" value="clear" style="margin-left:15px;" >clear</button>
			</td>
		</tr>
	</table>
	</form>
</div>

<hr style="width: 1700px; margin: 50px auto; border:1px solid #e5e5e6;">

<!--Activity-->
<div id="ActivityContainer">
<div id="searchbox" style=" margin-bottom:20px;">
	<form id="search-form" method="post">
		<input type="text" id="search-input" name="search-input" placeholder="Search Activities" >
		<button type="submit" id="sch-btn" name="action" value="search">Search</button>
	</form>
</div>

<p align="center" style="color:#CC0000;font-size:20px;margin-top:30px;margin-bottom:5px;">{{ get_flashed_messages()[0] }}</p>


{% if selected_acts %}
	{% for act in selected_acts %}
	<div class="item">
		<a href="/ActivityContent/{{act.activity_id}}">
			<div class="item-top" style="width: 380px; height: 80px;">
				<div class="item-left">
					<img src="../static/img/activities/{{act.type}}.gif" width="80px" height="80px" style="display: block;"/>
				</div>
				<div class="item-right">
					<div class="item-status">{{act.status}}</div>
					<div class="item-cnt"><span>Remaining: </span><strong>{{remainings[act.activity_id]}}</strong></div>
				</div>
			</div>
			<div class="item-bottom" style="width: 370px; height: 150px;margin-top:15px;">
				<div class="item-name" >{{act.activity_name}}</div>
				<p class="item-signup"><span><strong>SignUp Time : </strong> &nbsp;</span>{{act.signup_start}} - {{act.signup_end}}</p>
				<p class="item-time"><span><strong>Activity Time : </strong>&nbsp; </span> {{act.start_time}} - {{act.end_time}}</p>
				<p class="item-club"><span><strong>Published by : </strong> &nbsp;</span> {{clubNames[act.activity_id]}}</p>
			</div>
		</a>
	</div>
	{% endfor %}
{% elif Act %}
	{% for act in Act %}
	<div class="item">
		<a href="/ActivityContent/{{act.activity_id}}">
			<div class="item-top" style="width: 380px; height: 80px;">
				<div class="item-left">
					<img src="../static/img/activities/{{act.type}}.gif" width="80px" height="80px" style="display: block;"/>
				</div>
				<div class="item-right">
					<div class="item-status">{{act.status}}</div>
					<div class="item-cnt"><span>Remaining: </span><strong>{{remainings[act.activity_id]}}</strong></div>
				</div>
			</div>
			<div class="item-bottom" style="width: 370px; height: 150px;margin-top:15px;">
				<div class="item-name" >{{act.activity_name}}</div>
				<p class="item-signup"><span><strong>SignUp Time : </strong> &nbsp;</span>{{act.signup_start}} - {{act.signup_end}}</p>
				<p class="item-time"><span><strong>Activity Time : </strong>&nbsp; </span> {{act.start_time}} - {{act.end_time}}</p>
				<p class="item-club"><span><strong>Published by : </strong> &nbsp;</span> {{clubNames[act.activity_id]}}</p>
			</div>
		</a>
	</div>
	{% endfor %}
{% endif %}

</div>


<!--Bottom-->
<div id="indexbottom" style="margin-top:100px">
    <div style="margin-left:80px;padding-top:60px;">
        <ul style="float:left;list-style-type: none;">
            <li><p><img src="../static/img/logo.png" width="40px" height="40px;" align="center"> Activity Hub</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/location.png" width="30px" height="30px;" align="center"> Foshan, Guanddong, China</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/phone.png" width="25px" height="25px;" align="center"> 189-2805-5891</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/mail.png" width="30px" height="30px;" align="center"> cams@ntesmail.com</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/rights.png" width="30px" height="30px;" align="center"> 2024 Activity Hub. All rights reserved.</p></li>
        </ul>
    </div>
</div>

<script src="../static/js/ActivityLobby.js"></script>
</body>
</html>