<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AddActivity</title>
    <link rel="stylesheet" href="../static/css/AddActivity.css">
    <script src="../static/js/AddActivity.js"></script>
</head>
<body>
<div id="nav">
    <ul style="list-style: none">
        <li><div id="logotop"><a href="/"><img src="../static/img/logo.png" width="100" height="100"></a></div></li>
        <a href="ClubLobby"><li class="navli">Club Lobby</li></a>
        <a href="MyClub"><li class="navli">My Club</li></a>
        <a href="ActivityLobby"><li class="navli">Activity Lobby</li></a>
        <a href="MyActivity"><li class="navli">My Activity</li></a>
        {% if username %}
            <a href="MyProfile"><li class="navli" id="username">{{ username }}</li></a>
            <form action="/Logout" method="post" id="logoutForm" style="display: none;">
                <button type="submit" style="display: none;">Logout</button></form>
            <a href="Logout" onclick="confirmLogout(event)"><li class="navli" id="logout">Logout</li></a>
        {% else %}
            <a href="Login"><li class="navli" id="login">Login</li></a>
            <a href="Register"><li class="navli" id="register">Register</li></a>
        {% endif %}
    </ul>
</div>

<div id="FormContainer">
    <div id="FormOutline">
        <form method="post" enctype="multipart/form-data" id="form">
        <div style="margin-left:210px;margin-top:50px;"><img src="../static/img/activities/addAct.png" width="580px" height="52px;"></div>

        <p class="inputTitle" style="margin-top:40px;"><span>Activity Title </span><span style="color:#fa8383;">*</span></p>
        <input type="text" id="ActTitle" name="ActTitle" class="inputText" required/>

        {% if myClubNameLST %}
            <p class="inputTitle"><span>Create Activity for CLub </span><span style="color:#fa8383;">*</span></p>
            <select name="clubs">
            {% for clubName in myClubNameLST %}
                <option>{{clubName}}</option>
            {% endfor %}
            </select>
        {% endif %}

        <p class="inputTitle"><span>Activity Type </span><span style="color:#fa8383;">*</span></p>
        <select name="types">
            <option>Cultural Events</option>
            <option>Social Events</option>
            <option>Career Development</option>
            <option>Study Trips</option>
            <option>Academic Activities</option>
            <option>Interest Groups</option>
            <option>Sports</option>
            <option>Volunteer Work</option>
        </select>

        <p class="inputTitle"><span>Location </span><span style="color:#fa8383;">*</span></p>
        <input type="text" id="location" name="location" class="inputText" required/>

        <p class="inputTitle"><span>Maximum Participant </span><span style="color:#fa8383;">*</span></p>
        <input type="number" name="max_participant" class="inputText" required min="1"/>

        <p class="inputTitle"><span>Activity Time </span><span style="color:#fa8383;">*</span></p>
        <input type="datetime-local" name="actStart" class="date-picker" min="{{nowTime}}" value="{{nowTime}}" style="margin-left:245px;" required>
        to<input type="datetime-local" name="actEnd" class="date-picker" min="{{nowTime}}" value="{{newTime}}" required>

        <p class="inputTitle"><span>Enrollment Time </span><span style="color:#fa8383;">*</span></p>
        <input type="datetime-local" name="enrollStart" class="date-picker" min="{{nowTime}}" value="{{nowTime}}" style="margin-left:245px;" required>
        to<input type="datetime-local" name="enrollEnd" class="date-picker" min="{{nowTime}}" value="{{newTime}}" required>

        <p class="inputTitle">Contact Number </p>
        <input type="text" id="contact" name="contact" class="inputText"/>

        <p class="inputTitle">Participant roles </p>
        <input type="text" id="roles" name="roles" class="inputText"/>
        <p class="inputTitle" style="font-size:16px;margin-top:5px;">Note: If the activity requires participants to take on multiple roles,
            <br>please separate each role with a semicolon.</p>

        <p class="inputTitle">Enrollment Requirements </p>
        <input type="text" id="requirement" name="requirement" class="inputText"/>

        <p class="inputTitle">Activity Description </p>
        <input type="text" id="description" name="description" class="inputText"/>

        <div id="custom_upload">Upload Photos</div>
        <input type="file" id="uploadImg" name="photo[]" accept="image/*" multiple="multiple"/>
        <p class="inputTitle" style="font-size:16px;margin-top:5px;">Note: You can only upload up to 8 images.</p>
        <div id="image-preview-container"></div>

        <p align="center" style="color:#CC0000;font-size:20px;margin-top:30px;">{{ get_flashed_messages()[0] }}</p>
        <a href="MyActivity"><input type="submit" value="Submit" id="submit" align="center"></a>
    </form>
    <div style="height:40px;"></div>
    </div>
</div>




<!--Bottom-->
<div id="indexbottom" style="margin-top:200px">
    <div style="margin-left:80px;padding-top:40px;">
        <ul style="float:left;list-style-type: none;">
            <li><p><img src="../static/img/logo.png" width="40px" height="40px;" align="center"> Activity Hub</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/location.png" width="30px" height="30px;" align="center"> Foshan, Guanddong, China</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/phone.png" width="25px" height="25px;" align="center"> 189-2805-5891</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/mail.png" width="30px" height="30px;" align="center"> cams@ntesmail.com</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/rights.png" width="30px" height="30px;" align="center"> 2024 Activity Hub. All rights reserved.</p></li>
        </ul>
    </div>
</div>
</body>
</html>