<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Club Lobby</title>
    <link rel="stylesheet" href="../static/css/ClubLobby.css">
    <script src="../static/js/ClubLobby.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts@5.3.0/dist/echarts.min.js"></script>
    <style>
        #chart {
            width: 95%;
            height: 400px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
<div id="nav">
    <ul style="list-style: none">
        <li><div id="logotop"><a href="/"><img src="../static/img/logo.png" width="100" height="100"></a></div></li>
        <a href="ClubLobby"><li class="navli">Club Lobby</li></a>
        <a href="MyClub"><li class="navli">My Club</li></a>
        <a href="ActivityLobby"><li class="navli">Activity Lobby</li></a>
        <a href="MyActivity"><li class="navli">My Activity</li></a>
        {% if username %}
            <a href="MyProfile"><li class="navli" id="username">{{ username }}</li></a>
            <form action="/Logout" method="post" id="logoutForm" style="display: none;">
                <button type="submit" style="display: none;">Logout</button></form>
            <a href="Logout" onclick="confirmLogout(event)"><li class="navli" id="logout">Logout</li></a>
        {% else %}
            <a href="Login"><li class="navli" id="login">Login</li></a>
            <a href="Register"><li class="navli" id="register">Register</li></a>
        {% endif %}
    </ul>
</div>


<div id="ClubContainer">

    <button id="createClub"><a href="/CreateClub">Create club</a></button>

    <hr style="width: 1600px; margin: 40px 0; border:1px solid #e5e5e6;margin-left:50px;">
    <h2 style="text-align: center;width: 95%">Top 10 Clubs by Member Count</h2>
    <div id="chart" style="margin-left:40px;"></div> <!-- 图表容器 -->

    <script type="text/javascript">
        // 获取从 Flask 传递的俱乐部名称和成员数
        var clubNames = {{ club_names | tojson }};
        var memberCounts = {{ member_counts | tojson }};

        // 使用 ECharts 渲染图表
        var myChart = echarts.init(document.getElementById('chart'));

        var option = {
            title: {
                text: '',
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: { type: 'shadow' }
            },
            xAxis: {
                type: 'category',
                data: clubNames
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                name: 'Member Count',
                type: 'bar',
                data: memberCounts,
                emphasis: {
                    focus: 'series'
                },
                itemStyle: {
                    normal: {
                        // 设置柱子的颜色
                        color: function(params) {
                            // 可以根据某些条件自定义颜色，或者使用一个颜色数组
                            var colors = ['#A3D2CA', '#99c2ed', '#ffcccb', '#ffa07a', '#f0e68c', '#D8BFD8', '#FFC857', '#009999', '#b0e0e6', '#ff6347'];
                            return colors[params.dataIndex % colors.length];  // 循环使用颜色数组中的颜色
                        }
                    }
                }
            }]
        };

        myChart.setOption(option);
    </script>
    <hr style="width: 1600px; margin: 40px 0; border:1px solid #e5e5e6;margin-left:50px;">

    <div id="section">

        <div id="searchbox" style="padding-top:15px; margin-bottom:20px;">
            <form action="{{ url_for('clublb.clublobby') }}" method="get">
                <input type="text" id="search-input" class="google-search-input" name="search" placeholder="Search clubs..." value="{{ search_query or '' }}">
                <button type="submit" id="search">Search</button>
            </form>
        </div>

        <!-- 所有社团的列表 -->
        <h2>All Clubs</h2>
        {% if clubs %}
            <table class="club-table">
                <thead>
                    <tr>
                        <th>Club Name</th>
                        <th>Manager</th>
                        <th>Num Of Members</th>
                        <th>Description</th>
                        <th>Created Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% for club,manager,numMembers in clubs %}
                        <tr>
                            <td><a href="{{ url_for('clubct.clubContent', club_id=club.club_id) }}" class="tablehref">{{ club.club_name }}</a></td>
                            <td>{{ manager.username }}</td>
                            <td>{{ numMembers }}</td>
                            <td>{{ club.description }}</td>
                            <td>{{ club.created_time }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>No clubs available at the moment.</p>
        {% endif %}
    </div>
    <p align="center" style="color:#CC0000;font-size:20px;margin-top:30px;margin-bottom:5px;">{{ get_flashed_messages()[0] }}</p>
</div>

<!--Bottom-->
<div id="indexbottom" style="margin-top:150px;">
    <div style="margin-left:80px;padding-top:60px;">
        <ul style="float:left;list-style-type: none;">
            <li><p><img src="../static/img/logo.png" width="40px" height="40px;" align="center"> Activity Hub</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/location.png" width="30px" height="30px;" align="center"> Foshan, Guanddong, China</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/phone.png" width="25px" height="25px;" align="center"> 189-2805-5891</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/mail.png" width="30px" height="30px;" align="center"> cams@ntesmail.com</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/rights.png" width="30px" height="30px;" align="center"> 2024 Activity Hub. All rights reserved.</p></li>
        </ul>
    </div>
</div>
</body>
</html>
