<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CreditCardRepayment</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
<h1>信用卡还款</h1>
    <h4>请选择还款方式</h4>
    <input type="button" value="一键还款" class="btn" onclick="location.href='http://127.0.0.1:5001/Total_Card_Re'">
    <input type="button" value="按卡号还款" class="btn" onclick="location.href='http://127.0.0.1:5001/Re_By_Num'">
    <input type="button" value="返回" class="btn" onclick=" location.href='http://127.0.0.1:5001/TransferAccounts'">
<h4>{{ get_flashed_messages()[0] }}</h4>
</body>
</html>