<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinancialManagement</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
    <h1>理财频道</h1>
    <h4>尊敬的用户：</h4>
    <div>{{username}}</div>
    <h4>请选择您需要的理财服务：</h4>
    <form method="post">
      <input type="button" value="理财余额查询" class="btn" onclick="location.href='http://127.0.0.1:5001/FinancialBalance'">
      <input type="button" value="理财卡转账" class="btn" onclick="location.href='http://127.0.0.1:5001/FinancialTransfer'">
      <input type="button" value="返回主菜单" class="btn" onclick="if(confirm('确定返回主菜单吗')) location.href='http://127.0.0.1:5001/menu'">
    </form>
</body>
</html>