<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FinancialTransfer</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
    <h1>理财卡转账</h1>
    <h4>尊敬的用户：</h4>
    <div>{{username}}</div>
    <form method="post">
        <h4>接受方ID卡号：</h4>
        <input type='text' name="receiver_id" min="1">
        <h4>理财卡密码：</h4>
        <input type="password" name="pwd">
        <h4>转账金额：</h4>
        <input type="number" name="amount" min="0">
        <input type="submit" value="确认">
    </form>
    <br>
    <input type="button" value="取消" class="btn" onclick="location.href='http://127.0.0.1:5001/FinancialManagement'">
<h4>{{ get_flashed_messages()[0] }}</h4>
</body>
</html>