<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICPayment</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
<h1>IC卡充值</h1>
     <h2>尊敬的{{username}}</h2>
    <h4>您的余额为：</h4>
    <div>{{balance}}</div>
    <h4>选择充值方式：</h4>
    <input type="button" value="绑定账户充值" class="btn" onclick="location.href='http://127.0.0.1:5001/IC_USER'">
    <input type="button" value="返回" class="btn" onclick="location.href='http://127.0.0.1:5001/Recharge'">
<h4>{{ get_flashed_messages()[0] }}</h4>
</body>
</html>