<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InquiryService</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
    <h1>查询余额</h1>
    <h4>尊敬的用户：</h4>
    <div>{{username}}</div>
    <h4>您的余额为：</h4>
    <div>{{balance}}</div>

    <h4>更多功能：</h4>
    <form method="post">
      <input type="button" value="公积金业务" class="btn" onclick="location.href='http://127.0.0.1:5001/accumulationFundService'">
      <input type="button" value="多币种余额" class="btn" onclick="location.href='http://127.0.0.1:5001/multiBalance'">
      <input type="button" value="查询明细" class="btn" onclick="location.href='http://127.0.0.1:5001/Inquiry'">
      <input type="button" value="返回主菜单" class="btn" onclick="if(confirm('确定返回主菜单吗')) location.href='http://127.0.0.1:5001/menu'">
    </form>
</body>
</html>