<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ModifyPassword</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
<h1>修改密码</h1>
    <form method="post">
        <h4>请输入原密码：</h4>
        <input type="password" name="pwd">
        <h4>请输入新密码：</h4>
        <input type="password" name="newpwd">
        <h4>请确认您的新密码：</h4>
        <input type="password" name="confirmpwd">
        <input type="submit" value="确定" onclick="if(confirm('确定退出吗'))">
    </form>
    <input type="button" value="返回" class="btn" onclick="location.href='http://127.0.0.1:5001/menu'">
<h4>{{ get_flashed_messages()[0] }}</h4>
</body>
</html>