<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyInformation</title>
	<link rel="stylesheet" href="../static/css/MyProfile.css">
    <script src="../static/js/MyProfile.js"></script>

</head>
<body>
<!--Navigation-->
<div id="nav">
    <ul style="list-style: none">
        <li><div id="logotop"><a href="/"><img src="../static/img/logo.png" width="100" height="100"></a></div></li>
        <a href="ClubLobby"><li class="navli">Club Lobby</li></a>
        <a href="MyClub"><li class="navli">My Club</li></a>
        <a href="ActivityLobby"><li class="navli">Activity Lobby</li></a>
        <a href="MyActivity"><li class="navli">My Activity</li></a>
        {% if user.username %}
            <a href="MyProfile"><li class="navli" id="username">{{ user.username }}</li></a>
            <form action="/Logout" method="post" id="logoutForm" style="display: none;">
                <button type="submit" style="display: none;">Logout</button></form>
            <a href="Logout" onclick="confirmLogout(event)"><li class="navli" id="logout">Logout</li></a>
        {% else %}
            <a href="Login"><li class="navli" id="login">Login</li></a>
            <a href="Register"><li class="navli" id="register">Register</li></a>
        {% endif %}
    </ul>
</div>


<!--Information-->
<div id="InformationContainer">
    <div id="LeftContainer">
        <div id="avatars">
            <!-- Avatar images will go here -->
            <p style="font-size:26px;padding:10px;color:#4C637D;margin-left:75px;">Choose an avatar:</p>
            <button onclick="showAvatars()" style="border:none;margin-left:50px;">
                <img src="../static/img/avatars/1.png" class="avatar">
                <img src="../static/img/avatars/2.png" class="avatar">
                <img src="../static/img/avatars/3.png" class="avatar">
                <br>
                <img src="../static/img/avatars/4.png" class="avatar">
                <img src="../static/img/avatars/5.png" class="avatar">
                <img src="../static/img/avatars/6.png" class="avatar">
                <br>
                <img src="../static/img/avatars/7.png" class="avatar">
                <img src="../static/img/avatars/8.png" class="avatar">
                <img src="../static/img/avatars/9.png" class="avatar">
                <br>
                <img src="../static/img/avatars/10.png" class="avatar">
                <img src="../static/img/avatars/11.png" class="avatar">
                <img src="../static/img/avatars/12.png" class="avatar">
                <br>
                <img src="../static/img/avatars/13.png" class="avatar">
                <img src="../static/img/avatars/14.png" class="avatar">
                <img src="../static/img/avatars/15.png" class="avatar">
            </button>
        </div>

        <div id="profileCard">
            <img id="largeAvatar" src={{user.avatar}}>
            <p style="margin-top:20px;font-size:30px;color:#4C637D;">{{user.username}}</p>
            <p style="margin-top:15px;font-size:22px;color:#4C637D;">User Id: {{user.id}}</p>
            <p style="margin-top:7px;font-size:22px;color:#4C637D;">Phone Number: {{user.phoneNumber}}</p>
            <p style="margin-top:7px;;font-size:22px;color:#4C637D;">Gender: {{user.gender}}</p>
        </div>

    </div>


<div id="InformationTable">
<form method="post">
    <div id="InformationTitle"><h1 style="padding-left:110px;padding-bottom:30px;padding-top:50px;color:#4C637D;">Edit My Information</h1></div>
    <table  align="center">
        <tr>
            <td width="190px;" height="50px"><p style="font-size:16px;padding-left:90px;">User Name: </p></td>
            <td><input type="text" class="input" name="user" value="{{ user.username }}" required/></td>
        </tr>
        <tr>
            <td width="190px;" height="50px"><p style="font-size:16px;padding-left:35px;">Current Passwords:</p></td>
            <td><input type="password" class="input" placeholder="Please enter your current password" name="curpwd" required/></td>
        </tr>
        <tr>
            <td width="190px;" height="50px"><p style="font-size:16px;padding-left:57px;">New Passwords:</p></td>
            <td><input type="password" class="input" placeholder="Please enter your new password" name="pwd"/></td>
        </tr>
        <tr>
            <td width="190px;" height="50px"><p style="font-size:16px;padding-left:0px">Repeat New Passwords:</p></td>
            <td><input type="password" class="input" placeholder="Please confirm your new password" name="repwd"/></td>
        </tr>
        <tr>
            <td width="190px;" height="50px"><p style="font-size:16px;padding-left:120px">Gender:</p></td>
            <td>
            <select class="input" name="gender" style="width:239px;height:34px;">
                {% for gender in genderList %}
                    {% if gender == user.gender %}
                        <option selected>{{gender}}</option>
                    {% else %}
                        <option>{{gender}}</option>
                    {% endif %}
                {% endfor %}
            </select>
            </td>
        </tr>
        <tr>
            <td width="190px;" height="50px"><p style="font-size:16px;padding-left:60px;">Phone Number:</p></td>
            <td><input type="text" class="input" name="phoneNum" value="{{ user.phoneNumber }}" required/></td>
        </tr>
        <tr>
            <td colspan="2" height="30px"><h4 align="center" style="color:#CC0000;margin-top:15px;">{{ get_flashed_messages()[0] }}</h4></td>
        </tr>
    </table>

    <input type="hidden" id="selectedAvatar" name="selectedAvatar">

    <input type="submit" value="Submit" id="submit" align="center" onclick="confirmChange(event)">
</form>
</div>
</div>




<!--Bottom-->
<div id="indexbottom" style="margin-top:200px">
    <div style="margin-left:80px;padding-top:40px;">
        <ul style="float:left;list-style-type: none;">
            <li><p><img src="../static/img/logo.png" width="40px" height="40px;" align="center"> Activity Hub</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/location.png" width="30px" height="30px;" align="center"> Foshan, Guanddong, China</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/phone.png" width="25px" height="25px;" align="center"> 189-2805-5891</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/mail.png" width="30px" height="30px;" align="center"> cams@ntesmail.com</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/rights.png" width="30px" height="30px;" align="center"> 2024 Activity Hub. All rights reserved.</p></li>
        </ul>
    </div>
</div>
</body>
</html>