<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Re_By_Num</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
<h1>按卡号id还款</h1>
<h4>目前欠款{{creditBalance}}元</h4>
    <h4>请输入卡号id</h4>
    <form method="post">
        <input type='number' name="id" min="1">
        <h4>您的支付密码：</h4>
        <input type="password" name="pwd">
        <input type="submit" value="确定">
    </form>
    <input type="button" value="返回" class="btn" onclick="location.href='http://127.0.0.1:5001/CreditCardRepayment'">
<h4>{{ get_flashed_messages()[0] }}</h4>
</body>
</html>