<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="../static/css/Authentication.css">
</head>
<body>
<div id="nav">
    <ul style="list-style: none">
        <li><div id="logotop"><a href="/"><img src="../static/img/logo.png" width="100" height="100"></a></div></li>
        <a href="ClubLobby"><li class="navli">Club Lobby</li></a>
        <a href="MyClub"><li class="navli">My Club</li></a>
        <a href="ActivityLobby"><li class="navli">Activity Lobby</li></a>
        <a href="MyActivity"><li class="navli">My Activity</li></a>
        <a href="Login"><li class="navli" id="login">Login</li></a>
        <a href="Register"><li class="navli" id="register">Register</li></a>
    </ul>
</div>

<div id="LoginContainer">
<img src="../static/img/loginANDregister/registerbg.png" width="1200px" height="800px" style="padding-top:50px">
<div id="loginTable">
<form method="post">
    <div style="margin-left:100px;"><img src="../static/img/namelogo.png" width="300px" height="100px;"></div>
    <div id="loginTitle"><h1 style="padding-left: 185px;padding-bottom:30px;padding-top:50px;color:#4C637D;">Register</h1></div>
    <table  align="center">
        <tr>
            <td width="170px;" height="45px"><p style="font-size:16px;padding-left:63px;">User Name: </p></td>
            <td><input type="text" placeholder="Please enter user name" id="username" name="user" style="width:230px;height:25px;border:1px solid #368785;padding:3px;" required/></td>
            <span id="UsernameError" style="position:absolute;left:430px;top:125px;color:red;"></span>
        </tr>
        <tr>
            <td width="120px;" height="45px"><p style="font-size:16px;padding-left:68px;">Passwords:</p></td>
            <td><input type="password" placeholder="Please enter password" id="password" name="pwd" style="width:230px;height:25px;border:1px solid #368785;padding:3px;" required/></td>
            <span id="PwdError" style="position:absolute;left:430px;top:210px;color:red;"></span>
        </tr>
        <tr>
            <td width="120px;" height="45px"><p style="font-size:16px;padding-left:10px">Repeat Passwords:</p></td>
            <td><input type="password" placeholder="Please pass confirm your password" id="repassword" name="repwd" style="width:230px;height:25px;border:1px solid #368785;padding:3px;" required/></td>
            <span id="RePwdError" style="position:absolute;left:430px;top:210px;color:red;"></span>
        </tr>
        <tr>
            <td width="120px;" height="45px"><p style="font-size:16px;padding-left:30px;">Phone Number:</p></td>
            <td><input placeholder="Please enter a valid phone number" id="phoneNum" name="phoneNum" style="width:230px;height:25px;border:1px solid #368785;padding:3px;" required/></td>
            <span id="PhoneNumError" style="position:absolute;left:430px;top:210px;color:red;"></span>
        </tr>
        <tr>
            <td colspan="2" height="30px"><h4 align="center" style="color:#CC0000;">{{ get_flashed_messages()[0] }}</h4></td>
        </tr>
    </table>
    <input type="submit" value="Submit" id="submit" align="center">
</form>
</div>
</div>





<!--Bottom-->
<div id="indexbottom" style="margin-top:200px">
    <div style="margin-left:80px;padding-top:40px;">
        <ul style="float:left;list-style-type: none;">
            <li><p><img src="../static/img/logo.png" width="40px" height="40px;" align="center"> Activity Hub</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/location.png" width="30px" height="30px;" align="center"> Foshan, Guanddong, China</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/phone.png" width="25px" height="25px;" align="center"> 189-2805-5891</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/mail.png" width="30px" height="30px;" align="center"> cams@ntesmail.com</p></li>
            <li style="padding-left: 100px;"><p><img src="../static/img/rights.png" width="30px" height="30px;" align="center"> 2024 Activity Hub. All rights reserved.</p></li>
        </ul>
    </div>
</div>
</body>
</html>