<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TransferCancellation</title>
    <link rel="stylesheet" href="{{url_for('static',filename='beautify.css')}}">
</head>
<body>
<h1>转账撤销</h1>
    <form method="post">
        <h4>请输入要撤销对象的用户id:</h4>
        <input type="number" name="id" min="1">
        <h4>请输入密码：</h4>
        <input type="password" name="pwd">
        <h4>请输入撤销的金额：</h4>
        <input type="number" name="number" min="0">
        <input type="submit" value="确定">
    </form>
    <input type="button" value="返回" class="btn" onclick="location.href='http://127.0.0.1:5001/TransferAccounts'">
<h4>{{ get_flashed_messages()[0] }}</h4>
</body>
</html>